


.aside .logo a::before{
	border-top:4px solid #fa5b0f;
	border-left: 4px solid #fa5b0f;

}
.aside .logo a::after{
	border-bottom:4px solid #fa5b0f;
	border-right: 4px solid #fa5b0f
}
.aside .nav li a:hover,.aside .nav li a.active,
.portfolio .portfalio-filter button.active,
.about .about-content .about-text h3 span,
body.dark .aside .nav li a:hover,
body.dark .aside .nav li a.active,
body.dark .portfolio .portfalio-filter button.active,
.service .service-item .service-item-inner .icon .fa,
.portfolio .portfalio-item .portfalio-info .icon .fa,
.lightbox .lightbox-controls .prev-item .fa,
.lightbox .lightbox-controls .next-item .fa,
.blog .blog-item .blog-item-inner .blog-info .blog-tags a,
.contact .contact-info-item .icon .fa
{
	color:#fa5b0f;
}
.aside .nav-toggler span,
.aside .nav-toggler span::before,
.aside .nav-toggler span::after,
.home .intro .social-link a,
.section-title h2::before,
.section-title h2::after,.btn,
.about .about-content .skills .skill-item .progress .progress-in,
.about .about-content .timeline .timeline-item::before,
.about .about-content .timeline .circle-dot,
.service .service-item .service-item-inner:hover .icon,
.blog .blog-item .blog-item-inner .blog-img .blog-date{
	background-color: #fa5b0f;
}
body.dark .portfolio .portfalio-filter button.active,
.portfolio .portfalio-filter button.active{
	border-color: #fa5b0f;
}



