



.style-switcher{
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 13;
	background-color: #ffffff;
	padding: 15px;
	border:1px solid #d4d4e3;
	border-right: none;
	border-radius: 0 0 0 5px;
	-webkit-transform:translateX(110%);
	transform:translateX(110%);
	-webkit-transition:all 0.3s ease;
	transition: all 0.3s ease;
}
.style-switcher.open{
	-webkit-transform:translateX(10%);
	transform:translateX(10%);
}
.style-switcher h5{
	font-size:16px;
	color:#302e4d;
	margin-bottom: 8px;
	border-bottom: 1px solid #e8dfec;
	padding-bottom: 5px;

}

.style-switcher ul{
	display: block;
	margin-bottom:5px;
}

.style-switcher ul li{
	display: inline-block;
}
.style-switcher ul li a{
	height: 30px;
	width: 30px;
	display: block;
	border-radius: 50%;
	cursor: pointer;
	margin-right: 2px;
}



.style-switcher .toggle-style-switcher{
	height: 45px;
	width: 45px;
	position: absolute;
	background: #ffffff;
	top:-1px;
	left: -46px;
	border:1px solid #d4d4e3;
	border-right:none;
	text-align: center;
	border-radius: 5px 0 0 5px;
	cursor: pointer;

}

.style-switcher .toggle-style-switcher .fa{
	line-height: 43px;
}